<div class="row">
    <div class="jumbotron">
    <div class="container text-center">
        <h1 class="display-3">Tech Job Search</h1>
        <br>
        <p class="lead">
        <a class="btn btn-primary btn-lg" href="/scrape" role="button">Search</a>
        </p>
        
        <hr>
       
        <p class="lead">This is a Craiglist Job Search that returns local Tech jobs. Users can save jobs that they want to apply for and add notes.</p><br>

        <a href="https://github.com/mxj492/webscraper" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></i></a>
        
	</div>
    </div>
</div>
