<div class="col-md-1"></div>
  <div class="well well-lg col-md-10">
    <div class="row">
      <h1>All Jobs</h1>
          {{#each allArticles}}
          <div class = "input-group">
                <a href="{{this.link}}" target="_blank" class="form-control">{{this.title}}</a>
                <span class="input-group-btn">
                  <form method="POST" action="/save/{{this.id}}">
                    <button type="submit" class="btn btn-secondary">Save Job</button>
                  </form>
                </span>
          </div>
          {{/each}}
    </div>
  </div>
<div class="col-md-1"></div>